@font-face {
  font-family: "krypton";
  src: url("/fonts/krypton/krypton.woff2") format("woff2");
}

body {
  padding: 0;
  margin: 0;
}

#main {
  font-family: "krypton", monospace;
}

.theme-latte {
  --cat-rosewater: hsl(10, 58%, 67%);
  --cat-flamingo: hsl(0, 58%, 67%);
  --cat-pink: hsl(316, 74%, 69%);
  --cat-mauve: hsl(266, 84%, 58%);
  --cat-red: hsl(349, 84%, 45%);
  --cat-maroon: hsl(353, 79%, 58%);
  --cat-peach: hsl(25, 99%, 52%);
  --cat-yellow: hsl(38, 78%, 49%);
  --cat-green: hsl(114, 59%, 40%);
  --cat-teal: hsl(183, 73%, 33%);
  --cat-sky: hsl(197, 97%, 46%);
  --cat-sapphire: hsl(193, 70%, 41%);
  --cat-blue: hsl(222, 88%, 54%);
  --cat-lavender: hsl(234, 97%, 71%);
  --cat-text: hsl(231, 18%, 35%);
  --cat-subtext1: hsl(231, 13%, 41%);
  --cat-subtext0: hsl(230, 10%, 48%);
  --cat-overlay2: hsl(230, 8%, 53%);
  --cat-overlay1: hsl(230, 7%, 58%);
  --cat-overlay0: hsl(229, 8%, 63%);
  --cat-surface2: hsl(228, 11%, 69%);
  --cat-surface1: hsl(228, 14%, 76%);
  --cat-surface0: hsl(228, 18%, 82%);
  --cat-base: hsl(227, 23%, 93%);
  --cat-mantle: hsl(228, 19%, 90%);
  --cat-crust: hsl(227, 19%, 86%);
}

.theme-macchiato {
  --cat-rosewater: hsl(10, 55%, 90%);
  --cat-flamingo: hsl(0, 53%, 86%);
  --cat-pink: hsl(317, 79%, 86%);
  --cat-mauve: hsl(265, 80%, 80%);
  --cat-red: hsl(351, 75%, 72%);
  --cat-maroon: hsl(3, 73%, 77%);
  --cat-peach: hsl(25, 83%, 74%);
  --cat-yellow: hsl(42, 72%, 77%);
  --cat-green: hsl(105, 51%, 72%);
  --cat-teal: hsl(168, 42%, 68%);
  --cat-sky: hsl(191, 62%, 73%);
  --cat-sapphire: hsl(201, 67%, 65%);
  --cat-blue: hsl(221, 82%, 75%);
  --cat-lavender: hsl(234, 86%, 83%);
  --cat-text: hsl(227, 54%, 89%);
  --cat-subtext1: hsl(227, 29%, 81%);
  --cat-subtext0: hsl(228, 23%, 73%);
  --cat-overlay2: hsl(228, 20%, 64%);
  --cat-overlay1: hsl(228, 17%, 56%);
  --cat-overlay0: hsl(230, 16%, 49%);
  --cat-surface2: hsl(230, 14%, 39%);
  --cat-surface1: hsl(230, 16%, 32%);
  --cat-surface0: hsl(230, 17%, 23%);
  --cat-base: hsl(232, 23%, 15%);
  --cat-mantle: hsl(234, 24%, 12%);
  --cat-crust: hsl(235, 24%, 9%);
}
